<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title layout:fragment="title">My Cast - Home</title>
</head>
<body>
<section class="p-2" layout:fragment="content">
    <h2 class="text-center mb-3">Top Rated Movies</h2>
    <div class="container d-flex justify-content-center">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center">
            <div class="col" th:each="movie : ${movies.results}">
                <div class="card h-90">
                    <img class="card-img-top" loading="lazy"
                         th:src="'https://image.tmdb.org/t/p/original/' + ${movie.poster_path}"
                         th:alt="${movie.original_title} + ' Poster'" />
                    <div class="card-body">
                        <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" th:href="@{/movie/{id}(id=${movie.id})}">
                            <h5 class="card-title" th:text="${movie.original_title}"></h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>