<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyCast - Index</title>
</head>
<body>
    <header>
        <h1><a th:href="@{/}" th:text="MyCast"></a></h1>
    </header>
<section class="wrapper">
    <h2>Top rated Movies</h2>
    <ul th:each="movie : ${movies.results}">
        <li><a th:href="@{/movie/{id}(id=${movie.id})}"><span th:text="${movie.original_title}"></span></a></li>
    </ul>
</section>
<footer>
    <p>Heitor C. Cazado</p>
</footer>
</body>
</html>