<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title layout:fragment="title">My Cast - Login</title>
</head>
<body>
<section layout:fragment="content" class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">

            <h2 class="text-center mb-3">Login</h2>

            <form th:action="@{/login}" method="POST">

                <div class="mb-3">
                    <label for="username">Username</label>
                    <input id="username" name="username"
                           class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password"
                           class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 mb-2">Sign In</button>
                <span>Don't have an account? </span><a th:href="@{/register}">Register right now!</a>
            </form>
        </div>
    </div>
</section>
</body>
</html>