<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Mycast - '+${movie.original_title}"></title>
</head>
<body>
<header>
    <h1><a th:href="@{/}" th:text="MyCast"></a></h1>
</header>
<section class="wrapper">
    <h2 th:text="${movie.original_title}+' Details'"></h2>
    <img loading="lazy" th:src="'https://image.tmdb.org/t/p/original/'+${movie.poster_path}" th:alt="${movie.original_title}+' Poster'"/>
    <p th:text="${movie.overview}"></p>
</section>
<footer>
    <p>Heitor C. Cazado</p>
</footer>
</body>
</html>